// $accent-color: #4d955b;
$accent-color: #0e9cc7;
// $light-blue: #8cdf94;
$light-blue: #74d5f2;
// $lightest-blue: #dbf9eb;
$lightest-blue: #a1dff2;
// $grey: #1f2b6e;
$grey: #002b38;

$accent-color-gradient: linear-gradient(135deg, $accent-color, $light-blue);
$orange: #ff8818;
$light-orange: #ffa047;
$gradient1: linear-gradient(135deg,rgba(0,0,0,0.8), rgba(0,0,0,1));
$gradient2: linear-gradient(130deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.8));
$gradient_white: linear-gradient(125deg, rgba(255,255,255, 0.8), rgba(255,255,255, 1));
$gradient_grey: linear-gradient(135deg, rgba(0,0,0, 0.2), rgba(0,0,0, .4));


$light-grey: #a2a2a2;

// $accent-color: $blue;