@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url(http://192.168.1.25:3000/fonts/Montserrat.ttf) format("truetype");
    font-display: swap;
  }
  
@font-face {
   font-family: "Karrik";
   src: local("Karrik"),
      url(http://192.168.1.25:3000/fonts/Karrik-Regular.woff2)
      format("truetype");
   font-display: swap;
}

// @font-face {
//    font-family: "Bebas";
//    src: local("Bebas-Neue"),
//    url(~/assets/fonts/BebasNeue-Regular.ttf) format("truetype");
//    font-display: swap;
// }

// @font-face {
//    font-family: "Saira";
//    src: local("Saira-VariableFont"),
//    url(~/assets/fonts/Saira-VariableFont_wdth,wght.ttf) format("truetype");
//    font-display: swap;
// }