@font-face {
   font-family: "Montserrat";
   src: local("Montserrat"),
   url(http://192.168.1.25:3000/fonts/Montserrat.ttf) format("truetype");
   //  url(https://pfte.wubbelsweb.com/fonts/Montserrat.ttf) format("truetype");
   font-display: swap;
  }
  
@font-face {
   font-family: "Karrik";
   src: local("Karrik"),
      // dev
      url(http://192.168.1.25:3000/fonts/Karrik-Regular.woff2)format("truetype");
      // prod
      // url(https://pfte.wubbelsweb.com/fonts/Karrik-Regular.woff2)format("truetype");
   font-display: swap;
}
